body {
    margin: 0;
    padding: 100px 0 0;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}
.container {
    box-sizing: border-box;
    width: 100%;
    max-width: 540px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container > * {
    margin-bottom: 40px;
}
.logo {
    object-fit: contain;
    height: 100px;
}
form {
    width: 100%;
}
.input-bar {
    height: 48px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
input {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    font-size: 18px;
    padding: 0 8px;
    height: 100%;
    width: calc(100% - 72px);
    border: none;
    border-radius: 8px 0 0 8px;
}
input:focus {
    outline: none;
}
button {
    height: 48px;
    width: 72px;
    box-sizing: border-box;
    background: black;
    color: white;
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}
.dice {
    height: 24px;
    transform: translateY(2px);
}
#result {
    width: 100%;
    border-radius: 8px;
    background: #fff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#result li {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}