<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dinofier Online</title>
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" />
    <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
    </style>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"/>
    <script src="{{url_for('static', filename='script/index.js')}}" ></script>
</head>
<body>
    <div class="container">
        <img src="{{url_for('static', filename='logo.png')}}" alt="logo" class="logo">
        <form name="main" id="form">
            <label class="input-bar">
                <input type="text" placeholder="Starts with..." name="startsWith" />
                <button type="submit" value="Generate" id="submitter">
                    <img src="{{url_for('static', filename='dice.png')}}" alt="submit" class="dice">
                </button>
            </label>
        </form>
        <ul id="result">
        </ul>
    </div>
</body>
</html>